.heading{
  font-size: 1.9rem;
  color: $mainBlue;
  font-weight: 300;

  @mixin atSmall{
    font-size: 2.875rem;
  }

  &--no-margin-top{
    margin-top: 0;
  }

  &--b-margin-small{
    margin-bottom: .5em;
  }

  &--b-margin-large{
    margin-bottom: 1.6em;
  }

  &--narrow{
    max-width: 467px;
    margin-left: auto;
    margin-right: auto;
  }

  &--small{
    font-size: 1.2rem;

    @mixin atSmall{
      font-size: 1.8rem;
    }
  }

  &--orange{
    color: $mainOrange;
  }

  &--light{
    font-weight: 100;
  }

  &--center{
    text-align: center;
  }
}
