.primary-nav{

  &--pull-right{

    @mixin atMedium{
      float: right;
    }
  }

  ul{
    padding: 0;
    margin: 0;
  }

  li{
    display: inline-block;
    padding-right: 7px;
    list-style: none;

    @mixin atMedium{
      float: left;
      padding-right: 20px;
    }

    &:last-child{
      padding-right: 0;

      @mixin atMedium{
        padding-right: 20px;
      }
    }
  }

  a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    margin-top: .5rem;
    background-color: rgba($mainBlue, .8);
    font-size: .8rem;
    transition: all .3s ease-out;

    @mixin atMedium{
      font-size: 1rem;
      padding: .7rem 0;
      margin-top: 0;
      background-color: transparent;
    }

    &:hover, &.current-item{
      color: $mainOrange;
    }

  }

}
