.section-title{
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall{
    font-size: 3.75rem;
  }

  &--blue{
    color: $mainBlue;
  }

  &__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7rem;

    @mixin atMedium{
      display: inline-block;
      position: relative;
      top: 8px;
      margin-bottom: 0;
      padding-right: .6rem;
    }
  }

  strong{
    font-weight: 500;
  }

  &--less-margin{
    margin-top: 0;
    margin-bottom: .5rem;
  }
}
